[Unit]
Description=0x7ff.com
After=network-online.target

[Service]
Type=simple
User=user
WorkingDirectory=/opt/0x7ff/
PIDFile=/run/0x7ff.pid
ExecStart=/bin/bash -c '/opt/0x7ff/site'
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target